body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background: linear-gradient(to top, #fdd, #fff7f7);
  overflow: hidden;
}
#gameCanvas {
  display: block;
  margin: 0 auto;
  background-color: #cce5ff;
  border: 3px solid #555;
}
#startScreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 2rem;
}
#cookieSelect,
#stageSelect {
  margin: 10px;
}
#scoreBoard {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
}
