@font-face {
  font-family: "CookieRun-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "CookieRun-Regular", sans-serif;
  background: linear-gradient(to top, #fdd, #fff7f7);
  overflow: hidden;
  height: 100vh;
  box-sizing: border-box;
}

#gameCanvas {
  display: block;
  margin: 0 auto;
}
#startScreen {
  margin-top: 20%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 2rem;
}
#cookieSelect,
#stageSelect {
  margin: 10px;
}
#scoreBoard {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  display: none;
}

#backgroundImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85vw;
  height: auto;
  z-index: -1;
  opacity: 1;
}

h1 {
  font-size: 100px;
}

#startScreen button {
  background: linear-gradient(145deg, #ffb347, #ffcc33);
  color: white;
  font-family: "CookieRun-Regular", sans-serif;
  font-size: 1.5rem;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#startScreen button:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

#startScreen button:active {
  transform: translateY(0);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
