@font-face {
  font-family: "CookieRun-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "CookieRun-Regular", sans-serif;
}

.select-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  text-align: center;
}

.select-card {
  border: 1px solid white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#buttonDiv {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

h1 {
  width: 70%;
  margin: 50px auto 10px auto;
  padding: 10px 30px;
  text-align: center;
  color: white;

  background-color: skyblue;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* 약간의 그림자 */
}

#backgroundImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  height: auto;
  z-index: -1;
  opacity: 1;
}

.tab-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.tab-buttons button {
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}

.tab-content {
  margin-top: 30px;
  text-align: center;
}

.stage-list button {
  margin: 10px;
  padding: 15px 30px;
  font-size: 1rem;
}

div p {
  color: white;
  font-size: 30px;
  margin: 0 0 20px 0;
}

.select_c_btn,
.select_s_btn {
  font-family: "CookieRun-Regular";
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #3cb371; /* 녹색 */
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.select_c_btn:hover,
.select_s_btn:hover {
  background-color: #2e8b57;
}

.select_c_btn.selected,
.select_s_btn.selected {
  background-color: gray;
  cursor: default;
}
